[Desktop Entry]
Name=ScreenToWebcam
GenericName=Screen to Webcam
X-GNOME-FullName=ScreenToWebcam
Comment=Use screen contents as webcam video
Exec=/usr/bin/s2wgui
Terminal=false
Type=Application
Categories=GNOME;Video;
Keywords=Screen;Webcam;Mirror;
